/* OTROS ESTILOS */
body{
    background: linear-gradient(to right, #0c0e0d, #1a2143);
}

.main-box{
    width: 100%;
    height: 100vh;
}

.home{
    position: fixed;
    width: 100%;
    bottom: 1px;
    display: flex;
    align-items: end;
    justify-content: initial;
}

html{
    scrollbar-width: thin;
    scrollbar-color: #4c4a80 #f0f0f0;
}

/* ANIMACIÓN CASA FLOTANTE */
.home img{
    margin: 2vw;
    animation-name: flotando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes flotando{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-10px);
	}
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 5px solid #16286c;
    background: linear-gradient(to right, #0c0e0d, #1a2143);
    z-index: 999;
}

.lista-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0;
}

.lista-nav li{
    list-style: none;
}

.lista-nav a{
    color: white;
    text-decoration: none;
}

/* INTRODUCCIÓN */
.titulo{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5em; 
  color: white;
  position: relative;

}

.titulo h1{
    color: white;
    font-size: 6vw;
    position: relative;
    top: 10vh;
    white-space: nowrap;
}

.main-desc p{
    color: white;
    font-size: 24px;
    text-align: justify;
}

.main-desc button{
    height: 6vh;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #4c4a80, #231f99);
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 40px;
    font-size: 20px;
}

/* IMAGEN */
.imagen{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.borde-img{
    box-shadow: 1px 1px 20px 0px #6c5fff;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linea{
    border-bottom: 5px solid #0B44FF;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 0px;
}

.tabla{
    height: 100vh;
    padding-left: 5% !important;
    padding-right: 5% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid #2F3D68;
}

.section:last-child {
    border-bottom: 2px solid #2F3D68;
}

.section-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-right: 20px;
    color: white;
    font-size: 28px;
}

.section-title {
    color: white;
    font-weight: bold;
    margin-right: 20px;
    min-width: 250px; 
}

.section-description {
    flex: 1;
    font-size: smaller;
    text-align: justify;
}

.section-image {
    width: 10%;
}

.linea {
    color: #ffffff; 
    display: inline;
    margin-left: 2px; 
  }


  /* -------------------------------- 
  stackcard
-------------------------------- */

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background-color: linear-gradient(to right, #0c0e0d, #1a2143);
    font-family: system-ui, sans-serif;
    color: linear-gradient(to right, #0c0e0d, #1a2143);
    font-size: 1rem;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.0736rem;
  }
  
  h2 {
    font-size: 1.728rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(250, 84%, 54%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  @media (min-width: 64rem) {
    body {
      font-size: 1.25rem;
    }
  
    h1 {
      font-size: 3.051rem;
    }
  
      h2 {
      font-size: 2.44rem;
    }
  
      h3 {
      font-size: 1.75rem;
    }
  
      h4 {
      font-size: 1.5625rem;
    }
  }
  
  /* variables */
  :root {
    /* colors */
    --sg0-color-primary-hsl: 250, 84%, 54%;
    --sg0-color-bg-hsl: 0, 0%, 100%;
    --sg0-color-contrast-high-hsl: 230, 7%, 23%;
    --sg0-color-contrast-higher-hsl: 230, 13%, 9%;
    --sg0-color-bg-light-hsl: 0, 0%, 100%;
  
    /* spacing */
    --sg0-space-sm: 0.75rem;
    --sg0-space-md: 1.25rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --sg0-space-sm: 1.125rem;
      --sg0-space-md: 2rem;
    }
  }
  
  /* component */
  .stack-cards {
    --stack-cards-gap: var(--sg0-space-sm);
    --stack-cards-item-ratio: 2/1;
    padding: 0; 
    margin: 0; 

  }
  
  .stack-cards__item {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: var(--sg0-space-md);
    height: 0;
    padding-bottom: calc(100% / (var(--stack-cards-item-ratio)));
    -webkit-transform-origin: center top;
    transform-origin: center top;
  }
  
  /* gradient background */
  .sg0-bg-gradient {
    background: linear-gradient(to right, #152738, #15205b);
  }
  
  
  .sg0-bg-light {
    background-color: hsla(var(--sg0-color-bg-hsl), 1);
  }
  
  .stack-cards__item > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  /* Centrando contenido */
  .card-content {
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 4vh;
  }
  
  /* Title */
  .card-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  /* classes */
  .sg0-overflow-hidden {
    overflow: hidden;
  }
  
  .sg0-shadow-md {
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
  }
  
  .sg0-radius-lg {
    border-radius: 0.5em;
  }
  
  .sg0-bg {
    --sg0-bg-o: 1;
    background-color: hsla(var(--sg0-color-bg-hsl), var(--sg0-bg-o, 1));
  }
  
  .sg0-flex-center {
    justify-content: center;
    align-items: center;
  }
  
  
  :where(.sg0-inner-glow) {
    position: relative;
  }
  
  .sg0-inner-glow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075);
  }
  
  .sg0-bg-light {
    --sg0-bg-o: 1;
    background-color: hsla(var(--sg0-color-bg-light-hsl), var(--sg0-bg-o, 1));
  }