/* OTROS ESTILOS */
body{
    background: linear-gradient(to right, #0c0e0d, #1a2143);
}

.main-box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ANIMACIÓN CASA FLOTANTE */
.home{
    position: fixed;
    width: 100%;
    bottom: 1px;
    display: flex;
    align-items: end;
    justify-content: initial;
}

html{
    scrollbar-width: thin;
    scrollbar-color: #4c4a80 #f0f0f0;
}

.home img{
    margin: 1vw;
    animation-name: flotando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes flotando{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-10px);
	}
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 5px solid #16286c;
    background: linear-gradient(to right, #0c0e0d, #1a2143);
    z-index: 999;
}

.lista-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0;
}

.lista-nav li{
    list-style: none;
}

.lista-nav a{
    color: white;
    text-decoration: none;
}

/* INTRODUCCIÓN */
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.titulo h1{
    color: white;
    font-size: 6vw;
    position: relative;
}

.main-desc{
    color: white;
    font-size: 1.3em;
}

.main-desc h1{
    color: white;
    font-size: 5vw;
}

.main-desc p{
    color: white;
    margin-top: 40px;
}

/* IMAGEN */
.imagen{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.borde-img{
    box-shadow: 1px 1px 20px 0px #6c5fff;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.linea{
    border-bottom: 5px solid #0B44FF;
}

.color-box{
    background: linear-gradient(to right, #4c4a80, #231f99);
    padding: 5%;
}

.color-box p{
    color: white;
    font-size: 20px;
}

.color-box ul{
    color: white;
    font-size: 20px;
}

.titulo-cards{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-cards h1{
    color: white;
    font-size: 5vw;
}

.card{
    background: linear-gradient(to right, #4c4a80, #231f99);
    height: 40vh !important;
    border-radius: 25px !important;
}

.card-body p{
    color: white;
    font-size: large;
}