
body{
	background: linear-gradient(160deg, #0c0e0d, #1a2143);
}

/* MENU DESPLEGABLE */
.desplegable{
    background: linear-gradient(to right, #4c4a80, #231f99);
	width: 50%;
	height: 100vh;
	position:fixed;
	left: -100%;
	transition: 1s;
	z-index: 9999;
}

.desplegable-on{
	left: 0;
}

.menu{
	position: fixed;
	top: 1px;
	margin: 2%;
}

.menu img{
	cursor: pointer;
}

.cruz{
	display: flex;
	justify-content: end;
	position: absolute;
}

.cruz img{
	cursor: pointer;
	margin: 1vw;
}

/* SUBTITULO MENU DESPLEGABLE */
.sub{
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 5%;
}

.sub a{
	font-size: 5vh;
	text-decoration: none;
	color: white;
	display: inline-block;
	position: relative;
}

.sub a:after{
	content:'';
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.6s;
}

.sub a:hover:after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* TABLA CON NOMBRES */
.table-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
    color: #fff; 
    display: flex;
}

.index{
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.integrantes{
	text-align: center;
}

.integrantes td,th{
	border: 1px solid #16286c;
	width: 17vw;
	height: 6vh;
	font-size: small;
	color: white;
}

.integrantes img{
	width: 30%;
}

/* ANIMACIÓN NOMBRE DE LA UNIVERSIDAD */
.escu{
	position: relative;
	bottom: 0vh;
}

.uninom{
	font-style: normal;
	color: white;
}

.escu h1{
	font-size: 4.5vh;
}

/* CONCLUSIONES */
.conclusiones{
	position: fixed;
	bottom: 1px;
	right: 1px;
	margin: 2%;
	animation-name: conclusion;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes conclusion{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-10px);
	}
}

/* BURBUJAS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #0c192c; 
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around; 
}

.burbujas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	width: 100%;
	opacity: 0.2;
}

.burbujas span {
	position: relative;
	width: 60px;
	height: 60px;
	background: #231f99;
	margin: 10px; 
	border-radius: 50%;
	box-shadow: 0 0 0 10px #231f99,
				0 0 50px #231f99,
				0 0 100px #231f99;
	animation: animate 15s linear infinite;
	animation-duration: calc(125s / var(--i));
}

.burbujas span:nth-child(even) {
	background: #4c4a80;
	box-shadow: 0 0 0 10px #4c4a80,
				0 0 50px  #4c4a80,
				0 0 100px  #4c4a80;
}

@keyframes animate {
	0% {
		transform: translateY(100vh) scale(0);
	}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}