/* OTROS ESTILOS */
body{
    background: linear-gradient(to right, #0c0e0d, #1a2143);
}

.main-box{
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    position: fixed;
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: end;
    justify-content: initial;
}

/* ANIMACIÓN CASA FLOTANTE */
.home img{
    margin: 1vw;
    animation-name: flotando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes flotando{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-10px);
	}
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 5px solid #16286c;
}

.lista-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0;
}

.lista-nav li{
    list-style: none;
}

.lista-nav a{
    color: white;
    text-decoration: none;
}

/* INTRODUCCIÓN */
.main-desc{
    padding-left: 5% !important;
}

.main-desc h1{
    color: white;
    font-size: 7vw;
}

.main-desc p{
    color: white;
}

.main-desc button{
    height: 5vh;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #4c4a80, #231f99);
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

/* IMAGEN */
.imagen{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.borde-img{
    border: 5px solid #16286c;
}

.linea{
    border-bottom: 5px solid #16286c;
}